body {
    background: #0458;
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px black;

}

div#res img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

footer {
    text-align: center;
    font-style: italic;
}