# Python: Ambientes Virtuais
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Arquivos de compilação do Python (bytecode)
__pycache__/
*.py[cod]
*$py.class

# Distribuição / Pacotes
dist/
build/
*.egg-info/